apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: auth-ns
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9103"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: auth
          image: ghcr.io/faresmirza/auth-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
          envFrom:
            - secretRef:
                name: auth-secret
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /livez
              port: 4000
            initialDelaySeconds: 10
            periodSeconds: 15
        
        # Generic HTTP exporter for Go service
        - name: http-exporter
          image: prom/blackbox-exporter:latest
          args:
            - --config.file=/config/blackbox.yml
          ports:
            - containerPort: 9103
              name: metrics
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
      imagePullSecrets:
        - name: ghcr-regcred
      restartPolicy: Always